/* Squares everywhere */
*{border-radius: 0 !important;}

.gamelistbar_GameListHomeAndSearch_2TKEa {display: var(--home-and-collection-toggle);}

/* New to library container */
.appportrait_AppPortraitBanner_N8aJr {background-color: rgba(var(--hover-background), 100%); box-shadow: 0px 1px 8px 0px #202020;}

/* First launching steam popup */
.messagelist_CarouselBar_O7VJK {background: linear-gradient(180deg, #121212 0%, rgba(16, 16, 16, 0.46) 100%);}
.messagelist_MessageListPage_1N7O3 {background: linear-gradient(180deg, #141414 0%, #181818 100%);}
/* ==========================> Downloads <========================== */
/* DropDowns/Context Menus */
.contextmenu_contextMenu_LQkrb {background: #252525 !important;}
.contextmenu_contextMenuItem_pFo3k:hover, .contextmenu_contextMenuItem_pFo3k.contextmenu_active_1KPWU {background-color: #353535 !important;}

/* .game_hover_box {background: linear-gradient(to bottom,  rgba(20,20,20,1) 0%,rgba(25,25,25,1) 100%);}
.game_hover_box h4.hover_title {color: rgba(var(--hover-background), 100%) !important;}
.game_hover_box .hover_release, .hover_body_block, .hover_body {color: #ccc !important;}
.hover_body .hover_review_summary {color: #c6d4df; background-color: #202020 !important;}
.hover_tag_row .app_tag {background-color: rgba(var(--hover-background), 100%) !important; color: rgba(227,234,239,1) !important; border-radius: 0px !important;} */

/* Manage My DLC Popup */
.DialogTextInputBase:focus, .DialogTextInputBase:focus-within, .DialogTextInputBase:not(:disabled):hover {background: #252525 !important;}
.pagedsettings_PagedSettingsDialog_PageListColumn_RTicB {background: #151515 !important;}
.appproperties_AppProperties_1FyBL .DialogBody .appproperties_DlcGrid_3sXdO .appproperties_DlcHeader_1SKB0 {background: #101010 !important;}
.pagedsettings_PagedSettingsDialog_PageContent_1I3N {background: #101010 !important;}
.pagedsettings_PagedSettingsDialog_PageListItem_bkfjn.pagedsettings_Active_Myra7 {background: #202020 !important;} .pagedsettings_PagedSettingsDialog_PageListItem_bkfjn:not(.pagedsettings_Active_Myra7):hover {background-color: #252525 !important;}
.appproperties_AppProperties_1FyBL .DialogBody .appproperties_DlcGrid_3sXdO, .appproperties_AppProperties_1FyBL .appproperties_Checkbox_2V2nc {background: #151515;}

.downloadgraph_DownloadGraph_1BxZD .downloadgraph_GraphBar_3raSL, .downloadgraph_DownloadGraph_1BxZD {
    color: rgba(var(--hover-background), 80%);
}
.downloads_TopBar_SEmVp {
    background: linear-gradient(to right, rgba(var(--hover-background), 100%), rgba(var(--hover-background), 0.75));
    filter: brightness(155%);
}
.downloadgraph_GraphAndStats_3KDkL {
    background-color: #090909;
}
.downloads_DownloadsPage_1bq4x {
    background: radial-gradient(farthest-corner at 0px 0px, #242424 0%, #191919 90%);
}
.downloads_Active_IbePL .downloads_SectionList_OINnO {
    border: 2px solid #151515;
}
.downloads_Active_IbePL .downloads_SectionList_OINnO:hover {
    border-color: #323232;
}
.downloads_SectionItemStatus_1Sygg .downloads_ProgressBar_1vMU1 {
    background-color: #303030;
}
.downloads_SectionItemStatus_1Sygg .downloads_ProgressBar_1vMU1 div {
    background-color: rgba(var(--hover-background));
    filter: brightness(160%);
}
.downloads_SectionItem_1VNuY.downloads_Active_IbePL {
    background-color: #151515;
}
.downloads_SectionItem_1VNuY:hover, .downloads_SectionItem_1VNuY.downloads_Dragging_3-SbB {
	background-color: #101010;
}
.downloads_SectionItem_1VNuY.downloads_Active_IbePL .downloads_Button_3oavR.DialogButton:enabled{
	background: linear-gradient(314.13deg, rgba(var(--hover-background), 0.75) -22.81%, rgba(var(--hover-background), 100%) 19.67%);
}
.downloads_SectionItem_1VNuY.downloads_Active_IbePL .downloads_Button_3oavR.DialogButton:enabled:hover, .downloads_SectionItem_1VNuY.downloads_Active_IbePL .downloads_Button_3oavR.DialogButton:enabled:focus {
    background: linear-gradient(314.13deg, rgba(var(--hover-background), 0.75) -22.81%, rgba(var(--hover-background), 100%) 19.67%);
	filter: brightness(140%);
}
.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:enabled, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:active, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:hover, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:enabled:active:hover, .downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8.DialogButton:enabled, .downloads_RemoveAllButton_1GdR5.downloads_RemoveAllButton_1GdR5.DialogButton:enabled {
    background: #303030;
}
.downloads_SectionItem_1VNuY .downloads_Button_3oavR, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:enabled, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:active, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:hover, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:enabled:active:hover, .downloads_SectionItem_1VNuY .downloads_Button_3oavR.DialogButton:enabled {
    background: #303030 !important;
}
.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8.downloadgraph_Button_3Tfp8:hover, .downloads_RemoveAllButton_1GdR5.downloads_RemoveAllButton_1GdR5:hover.DialogButton:enabled, .downloads_SectionItem_1VNuY .downloads_Button_3oavR:hover {
    background: #454545;
}
.downloads_SectionJumpBar_mw7VZ {
    background-color: #252525 !important;
}

/* ==========================> Sidebar <========================== */
.gamelistbar_GameListHomeAndSearch_2TKEa {
    background-color: #101010;
}
.gamelisthome_CollectionIcon_nC-pL .gamelisthome_CollectionIconBox_2tyaV {
	background: #4c4d50ad;
}
.gamelisthome_Bar_3pSPl {
	background-color: #202020;
}
.gamelisthome_Bar_3pSPl:hover, .gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
	background-color: #252525;
}
.gamelisthome_Bar_3pSPl .gamelisthome_Icon_1ooRO {
    -webkit-mask-image: linear-gradient(to right, rgba(17, 17, 17, 0.5) 30%, black 50%);
}
.gamelistbar_Container_3x1Hk {
	background-image: linear-gradient(to bottom, #050505 0%, #101010 20%);
}
.gamelistsectionheader_Container_2sYIg {
	background: linear-gradient(to right, #212121 40%, rgba(19, 19, 19, 0.85) 100%);
	border: none;
}
.library_LibraryWindowDivider_276E6 {
    background-color: #090909;
}
.gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {background: rgba(var(--hover-background), 0.8);}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m:hover {
    background-color: #202020;
}
.gamelistentry_HasContextMenuOpen_3km84 { /* When you right click a game */
    border: 1px solid rgba(var(--hover-background), 100%);
    background-color: rgba(var(--hover-background), 50%);
}
.gamelistdropdown_ScrollToTop_uE7Pj .SVGIcon_Arrow {background-color: #202020 !important; border: 1px solid #303030 !important;}
.gamelistdropdown_ScrollToTop_uE7Pj:hover .SVGIcon_Arrow {background-color: #303030 !important; border: 1px solid #404040 !important;}

.library_ContextMenuAction_Z5iAX.Download, .library_ContextMenuAction_Z5iAX.Update, .library_ContextMenuAction_Z5iAX.PreLoad, .library_ContextMenuAction_Z5iAX.Resume, .library_ContextMenuAction_Z5iAX.Pause, .library_ContextMenuAction_Z5iAX.BorrowApp, .library_ContextMenuAction_Z5iAX.Stop, .library_ContextMenuAction_Z5iAX.Cancel, .library_ContextMenuAction_Z5iAX.Install, .library_ContextMenuAction_Z5iAX.PurchaseApp {
    background: linear-gradient(to right, rgba(66, 226, 120, var(--gradient-opacity)) 0%, rgba(54, 155, 102, var(--gradient-opacity)) 160%); /* Install button when you right click a game */
}

/* ==========================> Library <========================== */

/* Tooltip/app details popup */
.appdetailshover_AppDetailsHover_38FqI .appdetailshover_Background_rYBZB {background: radial-gradient(ellipse farthest-corner at 20% 30%, #202020 0%, #151515 50%, #202020 100%);}
.appgrid_SortingDropDownContainer_1ZpBQ> div, .libraryhomeshowcases_CollectionDropDownContainer_2Sj4-.libraryhomeshowcases_CollectionDropDownContainer_2Sj4- ._DialogInputContainer {background: #202020 !important; border: .5px solid #353535; border-left: none;}
.miniprofile_miniProfileBackground_108IP {background: radial-gradient(ellipse farthest-corner at 20% 30%, #000000 0%, #101010 50%, #202020 100%);}
.miniprofile_miniProfileContent_3QoRR.miniprofile_notInOrWatchingGame_34jjZ .miniprofile_miniProfileBottom_2MwqO, .miniprofile_miniProfileContent_3QoRR .miniprofile_miniProfileGameContainer_3gSTD {background: linear-gradient(to bottom, rgba(15, 15, 15, 0.7) 5%, rgba(15, 15, 15, 0.4) 95%) !important;}
.appdetailsfriendssection_PlaytimeSection_1s3b9 {background: radial-gradient(circle at top left, rgba(var(--hover-background), 50%) 0%, rgba(var(--hover-background), 9%) 100%), linear-gradient(to bottom, rgba(var(--hover-background), 67%) 0%, rgba(var(--hover-background), 9%) 1px, rgba(var(--hover-background), 13%) 25%, rgba(var(--hover-background), 10%) 50%) !important;}
.appdetailsfriendssection_PlaytimeSection_1s3b9 .appdetailsfriendssection_PlaytimeContent_28Nso .appdetailsfriendssection_TimePlayed_KiUMH {color: lawngreen !important;}
.appdetailsfriendssection_PlaytimeSection_1s3b9 .appdetailsfriendssection_PlaytimeContent_28Nso {color: rgba(255, 255, 255, .5) !important;}
.tooltip_ToolTipCustom_3Dt__, .appportraithover_AppPortraitHover_2sGn0, .tooltip_TextToolTip_29b2a {background-color: #252525;}
.appportraithover_CapsuleBackground_AcLtE {filter: blur(18px) opacity(10%) saturate(0.7) !important;}

/* Library Home section */
.libraryhomenewupdates_GameIconAndName_3_xMy {background-color: rgba(55, 55, 55, .4);}
.libraryhomenewupdates_GameIconAndName_3_xMy:hover {background-color: #303030;}
.libraryhomenewupdates_EventOptions_2-p7s> div {background-color: darkturquoise;}
.appdetailssectionheader_SectionHeader_1Q2q_, .appdetailscommunityfeed_HeaderStyles_2lNdD {color: darkturquoise;}

.libraryhome_UpdatesContainer_17uEB {
    background: radial-gradient(100% 100% at 33% 45%, #151515 30%, #101010 100%);
}
.libraryhome_LibraryHome_3Sb2o {background-image: linear-gradient(to bottom, #090909 0%, #101010 20%);}
.libraryhome_Container_2gSXC {background: #101010;}
.appportrait_RecentGameFooter_2d1hS {background-color: #202020;}
.appportrait_FooterBlurImageContainer_RhmvO{filter: blur(20px);}
.libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd.libraryhomenewupdates_HoversEnabled_278jF:hover .libraryhomenewupdates_EventSummaryContainer_3Rb_j, .gpfocus> .libraryhomenewupdates_PartnerEventRowCapsule_Container_B-vCd.libraryhomenewupdates_HoversEnabled_278jF .libraryhomenewupdates_EventSummaryContainer_3Rb_j {
    background-color: rgba(var(--hover-background), 0.6);
}
.gamelistsectionheader_Container_2sYIg:hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z :hover {
	background: rgba(var(--hover-background), 100%);
}
.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
    background-color: rgba(var(--hover-background), 80%);
}
.appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY:hover, .appdetailsfriendssection_AvatarAndLabel_1GCZA:hover, button.DialogButton.appdetailsbutton_AppDetailsButton_3Cdin.appdetailsbutton_BottomRight_3nJyY:hover, button.DialogButton.appdetailsbutton_AppDetailsButton_3Cdin.appdetailsbutton_BottomRight_3nJyY:hover {
	background: rgba(var(--hover-background), 100%);
}
.apppartnereventspage_PartnerEvent_1KsYS, .partnereventdisplay_LibraryEventBodyContainer_32mHv {background-image: radial-gradient(ellipse at top left, #202020, #101010);}

.apppartnereventspage_CloseButton_1_vCR, .apppartnereventspage_ScrollButton_1t_97 {background: #252525; border: 1px solid #555555;}
.apppartnereventspage_CloseButton_1_vCR:hover, .apppartnereventspage_ScrollButton_1t_97:hover, .apppartnereventspage_ScrollButton_1t_97:hover, .apppartnereventspage_ScrollButton_1t_97:hover {background: #353535; border: 1px solid #858585;}
.discussionwidget_Container_mKmrO {background-image: radial-gradient(ellipse at top center, rgba(75, 75, 75, 0.1) 10%, rgba(75, 75, 75, 0) 80%);}
.partnereventdisplay_InLibraryView_3_SEi .partnereventdisplay_EventDetailTitleContainer_3z2NY {background: radial-gradient(ellipse at bottom center, rgba(25, 25, 25, 0.1) 10%, rgba(25, 25, 25, 0) 80%);}

/* Library game section */
.appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {background-color: rgba(var(--hover-background), 100%) !important;}
.spotlight_MajorEventContainer_3do5n {border-image-source: radial-gradient(100% 80% at 64% 95%, rgba(var(--hover-background), 45%) 0%, rgba(var(--hover-background), 70%) 40%, rgba(var(--hover-background), 80%) 100%) !important;}
.appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY .appdetailsprimarylinkssection_Text_2sNDj {color: rgba(255, 255, 255, 0.6);}
.appdetailsplaysection_MenuButton_3qDWQ.appdetailsplaysection_FavoriteButton_21hXW.appdetailsplaysection_Favorited_2WaHZ svg path {stroke: darkturquoise; fill: darkturquoise;}

.appdetailsplaysection_Glassy_3DeO9.appdetailsplaysection_PlayBar_3fLo1, .appdetailsplaysection_InnerContainer_3Y87Y {
    background: linear-gradient(to top, rgba(09, 09, 09, 9) 0%, rgba(12, 12, 12, 0.96) calc(100% - 2px), rgba(07, 07, 07, 0.71) calc(100% - 1px), rgba(05, 05, 05, 0.93) 100%);
}
.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ {padding: 0px;}
.appdetailsgameinfocontainer_Glassy_2QAgO.appdetailsgameinfocontainer_AppGameInfoContainer_25oBZ {background-color: #202020;}
.appdetailsgameinfopanel_Container_2jPMy {background-color: #202020; padding: 0 10px;}

.appdetailsprimarylinkssection_LinksSection_3-V8v {background: rgba(14, 14, 14); padding-right: 0px; padding-left: 0px;}
.appdetailsprimarylinkssection_LinksSection_3-V8v> div {background: radial-gradient(100% 80% at 64% 95%, rgba(30, 30, 30, 0.99) 40%, rgba(40, 40, 40, 0.99) 100%) !important;}

.appdetailsspotlight_ReviewContainer_3LE-6, .writereview_RatingContainer_2SAb6 {background-color: #202020; text-align: -webkit-center;}
.writereview_ReviewThumbButton_1kCN0 {background: #353535; color: #ccc;}
.writereview_ReviewThumbButton_1kCN0:not(.writereview_Selected_Z3L6K):hover {    background: linear-gradient(-60deg, rgba(var(--hover-background), 60%) 5%, rgba(var(--hover-background), 100%) 95%); filter: brightness(155%);}
.writereview_RatingContainer_2SAb6 .writereview_LeftContainer_2aeAn .writereview_Playtime_qX4kN {color: rgba(var(--hover-background), 100%);font-weight: bold; filter: brightness(155%);}
.writereview_ThumbIcon_2Jkk-.writereview_Up_2DXZF {fill: #13b113 !important;}
.writereview_ThumbIcon_2Jkk-.writereview_Down_32G01 {fill: #a50a0a !important;}

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_ColumnContainer_OhSdL {
    background: #050505;
}
.spotlightgameplaysummary_SummaryCarouselContainer_wgbDI {
	background: radial-gradient(100% 150% at 33% 45%, rgba(18, 18, 18, 0.7) 0%, rgba(14, 14, 14, 0.9) 100%);
    height: 180px;
}
.spotlightgameplaysummary_SummaryScreenshot_2gFx1 {
    box-shadow: 2px 2px 8px #050505;
}
.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2 {background: rgba(30, 30, 30, .6);}
.posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2:focus {background: rgba(var(--hover-background), 80%);}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu, .posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA {background-color: #252525;}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D button.posttextentry_EmoticonButton_bACIu:hover {background-color: #353535;}
.posttextentry_PostTextEntry_3x31A .posttextentry_Controls_37e7D .posttextentry_PostButton_2JSyA.posttextentry_Enabled_bGfja:hover {background: linear-gradient(to right, rgba(var(--hover-background), 45%) 0%, rgba(var(--hover-background), 65%) 60%); filter: brightness(155%);}

.appactivityday_PartnerEventLargeImage_Container_Libri {background: black;}
.appactivityday_PartnerEventLargeImage_Container_Libri:hover {background: #101010 !important;}
.appactivityday_PartnerEventLargeUpdate_39Zk3 {border-image-source: radial-gradient(100% 80% at 64% 95%, rgba(var(--hover-background), 45%) 0%, rgba(var(--hover-background), 70%) 40%, rgba(var(--hover-background), 80%) 100%) !important;}
.appactivityday_PartnerEventTypeUpdate_29bW1 {color: rgba(var(--hover-background), 100%); filter: brightness(200%);}
.appactivityday_LeftSideMajorUpdateBar_3oMUS {background: transparent;}
/* Featured */
.appactivityday_Event_UVeN0.appactivityday_PartnerEventFeatured_3xi-H {border-image: radial-gradient(100% 80% at 64% 95%, rgba(var(--hover-background), 45%) 0%, rgba(var(--hover-background), 70%) 40%, rgba(var(--hover-background), 80%) 100%) !important;}

.appdetailsactivitysection_ActivityFeedContainer_3yTl3 .appdetailsactivitysection_FetchMoreContainer_39Zur {background: rgba(20, 20, 20, .8) !important; padding: 0px 6px;}
.appdetailsactivitysection_ActivityFeedContainer_3yTl3 .appdetailsactivitysection_FetchMoreContainer_39Zur:hover {background-color: rgba(30, 30, 30, .8) !important;}

.appactivityday_Event_UVeN0 .appactivityday_PartnerEventFeaturedHeader_1WdC0 {
    background: rgba(var(--hover-background), 100%);
}
.appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh, .appactivityday_Event_UVeN0.appactivityday_PartnerEventTextOnly_3QRf-.appactivityday_PartnerEventFeatured_3xi-H {
    background: linear-gradient(to right, rgba(20, 20, 20, 0.8) 0%, rgba(10, 10, 10, 0.8) 95%);
}
.appdetailssection_Highlight_38t1m {
	background: linear-gradient(to right, #181818 0%, #191919 95%);
}
.appdetailsworkshopsection_WorkshopContainer_176QJ {
	background: radial-gradient(99% 80% at 64% 95%, rgba(30, 30, 30, 0.7) 0%, rgba(35, 35, 35, 0.43) 40%, rgba(40, 40, 40, 0.9) 100%) !important;
}
.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
    background: radial-gradient(99% 80% at 64% 95%, rgba(30, 30, 30, 0.7) 0%, rgba(22, 22, 22, 0.43) 40%, rgba(15, 15, 15, 0.9) 100%);
	box-shadow: none;
}
.appactivityday_PartnerEventTextOnly_3QRf- {
    background: radial-gradient(100% 80% at 64% 95%, rgba(20, 20, 20, 0.3) 0%, rgba(24, 24, 24, 0.5) 20%, rgba(30, 30, 30, 0.5) 100%);
}
.appactivityday_PartnerEventTextOnly_3QRf-:hover {
    background: radial-gradient(100% 80% at 64% 95%, rgba(64, 64, 64, 0.3) 0%, rgba(100, 100, 100, 0.13) 40%, rgba(190, 190, 190, 0.1) 100%);
}
.appactivityday_PartnerEvent_1AYE1 {
    background: radial-gradient(100% 80% at 64% 95%, rgba(34, 34, 34, 0.3) 0%, rgba(50, 50, 50, 0.13) 40%, rgba(80, 80, 80, 0.1) 100%);
}
.appactivityday_PartnerEventMediumImage_Container_1HZy7 {
    background: radial-gradient(100% 80% at 64% 95%, rgba(34, 34, 34, 0.3) 0%, rgba(50, 50, 50, 0.13) 40%, rgba(80, 80, 80, 0.1) 100%) !important;
}
.appactivityday_PartnerEventMediumImage_Container_1HZy7:hover {
    background: radial-gradient(100% 80% at 64% 95%, rgba(20, 20, 20, 0.3) 0%, rgba(24, 24, 24, 0.5) 20%, rgba(30, 30, 30, 0.5) 100%) !important;
}
.appdetailsachievementssection_AdditionalItem_2aVnD {
	background-color: #252525;
}
.appdetailscommunityfeed_Guide_-85o5 .appdetailscommunityfeed_TopSection_33Cd4 {margin: 0px;}
.libraryhomenewupdates_WhatsNewSettingsContainer_2JKpG {background: radial-gradient(circle at top left, rgba(15, 15, 15, 0.4) 0%, rgba(25, 25, 25, 0) 60%), #202020;}
.DialogTextInputBase, ._DialogInputContainer {background: black;}
.toggle_Toggle_3jXWQ .toggle_ToggleRail_GKYwH.toggle_Highlight_2l9tH {background-color: rgba(var(--hover-background), 60%);}
.toggle_Toggle_3jXWQ .toggle_ToggleSwitch_2mW8B.toggle_On_1YqUA {background-color: #16a1e1; background-image: linear-gradient(to bottom, rgba(var(--hover-background), 100%), rgba(var(--hover-background), 100%));}
.appdetailstradingcardssection_Card_1WsOn.appdetailstradingcardssection_Unowned_1A6NC.appdetailstradingcardssection_Loaded_3rqAf .appdetailstradingcardssection_CardImage_1DgYm {
    opacity: .4 !important;
    filter: saturate(1) brightness(1) !important;
}
.appdetailsachievementssection_AchievementProgressContainer_3ns91 .appdetailsachievementssection_AchievementProgress_3Rm36 {background-color: darkturquoise;}

.artworkmodal_ModalBox_1Lfu7 {background: radial-gradient(132% 155% at 50% 28%, rgba(10, 10, 10, 0.5) 0%, rgba(10, 10, 10, 0) 60%), #202020;} .artworkmodal_ArtworkContainer_1DyzX {background: #202020;}

.comment_thread_RatingBar_1yWgP .comment_thread_LikeButton_161IK.comment_thread_CanClick_3Mds9:hover, .comment_thread_RatingBar_1yWgP .comment_thread_CommentButton_3i62H.comment_thread_CanClick_3Mds9:hover, .comment_thread_RatingBar_1yWgP .comment_thread_Reactions_35yrb.comment_thread_CanClick_3Mds9:hover, .appdetailsactivitysection_ViewLastNews_1EC1x:hover  {background-color: #202020;}

.comment_thread_ActivityCommentThread_39nna {background: #101010;}

/* Community Content */
.appdetailscommunityfeed_HeaderStyles_2lNdD {
    background: radial-gradient(circle at 0% 20%, rgba(44, 47, 44, 0.15) 0%, rgba(34, 34, 39, 0) 20%), linear-gradient(to bottom, rgba(35, 35, 35, 0.95) 0%, rgba(55, 58, 51, 0.55) 2px, rgba(27, 27, 27, 0.5) 50%, rgba(34, 34, 39, 0) 100%);
}
.appdetailscommunityfeed_CommunityItem_3QS6O {
    background-color: #202020;
	box-shadow: none;
}
.appdetailscommunityfeed_Guide_-85o5 .appdetailscommunityfeed_GuideTitle_23Pup {
    background: #151515;
    border-bottom: 1px solid #252525;
}
.appdetailscommunityfeed_Guide_-85o5 .appdetailscommunityfeed_TopSectionInner_1dJuv {
    background: linear-gradient(300deg, #101010, #151515);
}
.appdetailscommunityfeed_CommunityItem_3QS6O .appdetailscommunityfeed_ChildItem_2EOPV {
    border-bottom: 1px solid #252525;
}
.appdetailscommunityfeed_AuthorSection_1ul9Z {
	background: linear-gradient(180deg, #101010, transparent);
}
.appdetailscommunityfeed_ArtItem_1aP1b .appdetailscommunityfeed_BottomSection_3uabi {
    background: linear-gradient(to right, rgba(25, 25, 25, 0.95) 0%, #121212 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .9);
}
.appdetailsplaysection_MenuButton_3qDWQ {
    background-color: #202020;
}
.appdetailsplaysection_MenuButton_3qDWQ:hover, .appdetailsplaysection_MenuButton_3qDWQ.appdetailsplaysection_MenuActive_fyJia {
    background-color: #353535;
}
.appdetailscommunityfeed_Controls_3lh8a .appdetailscommunityfeed_Control_1GfHt {
    background-color: #101010;
}

/* Your Collections page */
.allcollections_ScrollContainer_u1xD3 {
    background: radial-gradient(100% 100% at 33% 45%, #101010 0%, #050505 100%);
}
.allcollections_Collection_3IWn- {
    background: #454545;
}
.allcollections_Collection_3IWn-:focus, .allcollections_Collection_3IWn-:hover {
    background: rgba(var(--hover-background), 60%);
}

/* Scroll to top button */
.smartscrollcontainer_ScrollToTopButton_1J21t div, .smartscrollcontainer_ScrollToTopButton_1bCHN div {background: linear-gradient(to bottom, rgba(var(--hover-background), 100%) 0, #101010 100%); color: #fff;}
.smartscrollcontainer_ScrollToTopButton_1J21t {color: #ccc;}

/* Dynamic Collection */
.collectionview_OuterContainer_2sNr7 {
    background: radial-gradient(100% 100% at 33% 45%, #252525 0%, #050505 100%);
}
.gamelistsearchbar_SearchFilterInput_172OF .gamelistsearchbar_FilterTag_3gzh_ {
    background-color: rgba(var(--hover-background), 100%) !important;
    filter: brightness(135%) !important;
}

/* Gamelistsearchbar container | Library filter popup */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPaneContainer_1dgAM .gamelistsearchbar_AdvancedSearchPane_Woh0k, .gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY .gamelistsearchbar_AdvancedSearchPaneContainer_1dgAM .gamelistsearchbar_AdvancedSearchPane_Woh0k:before {
	background-color: #202020;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY.gamelistsearchbar_Extended_31r1_, .gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY:not(.gamelistsearchbar_Disabled_1Gjk2):hover { /* Filter button */
	background-color: #303030;
}
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY.gamelistsearchbar_Disabled_1Gjk2 {background-color: #202020;}
/* ==========================> Scrollbar <========================== */

::-webkit-scrollbar{ /* Main scrollbar */
  background: #151515 !important;
  border-radius: 0 !important;
  width: 14px !important;
  -webkit-box-shadow: none !important;
  display: var(--scrollbar-toggle) !important;
}

.ReactVirtualized__List:hover::-webkit-scrollbar-thumb,
.gamelist_Container_1ijTa:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar) !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: none !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid transparent !important;
}

.ReactVirtualized__List:hover::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar) !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: none !important;
  border: 5px solid transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar) !important;
}

.ReactVirtualized__List::-webkit-scrollbar-thumb {
  background: transparent !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid transparent !important;
  -webkit-box-shadow: none !important;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar) !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid transparent !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: none !important;
}

.ReactVirtualized__List::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 0 !important;
}

.ReactVirtualized__Grid::-webkit-scrollbar { /* sidebar in steam scrollbar */
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
}

.library_LeftListSizableContainer_9sPoV::-webkit-scrollbar:horizontal {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
}

::-webkit-scrollbar-track {
  background: #151515 !important;
  border-radius: 0 !important;
}

::-webkit-scrollbar-corner{
  border: 0 solid var(--librarybg) !important;
  background-color: var(--librarybg) !important;
}
.appdetails_PlayBar_2L3s2 {width: calc(100% - 0px) !important;}
.LibraryDisplaySizeMedium .libraryhomenewupdates_PartnerEventRowCapsule_3YO5B {padding-bottom: 4px !important;}
