@import url('https://misspent.github.io/Steam-Darkened/Steam Main/friends.custom.css');

:root {
  --chatfont: 13px; /* Font size for chat messages */
  --scrollbarSize: 15px;

  /* Colors: */
  --focus: 102, 36, 226; /* Default Metro skin purple accent */
  /* 0, 114, 198; /* Blue accent option */
  --W10close_Red_h: 232, 18, 35; /* Window close button color on hover */
  --W10close_Red_p: 241, 112, 121; /* Window close button color when pressed */
  --clientBG: 15, 15, 15;
  --header_dark: 00, 00, 00;
  --title-backgrounds: 00, 00, 00;
  --online: 93, 178, 255;
  --ingame: 130, 186, 0;
  --offline: 145, 145, 145;
  --golden: 255, 255, 99;
  --scroll: 32, 32, 32;
  --textentry: 10, 10, 10;
  --white05: 255, 255, 255, 0.05;
  --white10: 255, 255, 255, 0.1;
  --white12: 255, 255, 255, 0.12;
  --white24: 255, 255, 255, 0.24;
  --white25: 255, 255, 255, 0.25;
  --white45: 255, 255, 255, 0.45;
  --white50: 255, 255, 255, 0.5;
  --white75: 255, 255, 255, 0.75;
  --white: 255, 255, 255;
  --black35: 0, 0, 0, 0.35;
  --frameBorder: 15, 15, 15;
  --textentrybuttons: 200, 200, 200;
}
